<div class="layout-login-centered-boxed__form card" style="width: 40%;margin: 5% auto;min-width: 300px;max-width: 360px;padding: 20px;">
  <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light" style="text-align: center; margin-bottom: 10px !important;">
    <a href="/stack/index" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
      <a href="/" class="simple-text logo-normal">
                <img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="width: 75%">
            </a>
      <span>Administración de Cotizaciones</span>
    </a>
    <p class="m-0">Inicie sesión para acceder a su cuenta</p>
  </div>

  <!-- <div class="alert alert-soft-success d-flex" role="alert">
    <i class="material-icons mr-3">check_circle</i>
    <div class="text-body">An email with password reset instructions has been sent to your email address, if it exists on our system.</div>
  </div> -->
  
  <%if alert.present? %>
    <div class="alert alert-soft-success d-flex" role="alert">
    <i class="material-icons mr-3" style="color: #dc3545 !important">check_circle</i>
      <div class="text-body"><%= alert %></div>
    </div>
  <%end %>


  <!-- <a href="" class="btn btn-light btn-block">
    <span class="fab fa-google mr-2"></span>
    Continue with Google
  </a> -->

<!--   <div class="page-separator">
    <div class="page-separator__text">or</div>
  </div>
 -->
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


      <%= f.input :login,
                required: false,
                autofocus: true,
                :label_html => {:class => "text-label"},
                input_html: { autocomplete: "login"}  %>

    
    <%= f.input :password,
                required: false,
                :label_html => {:class => "text-label"},
                input_html: { autocomplete: "current-password" } %>

    <div class="form-group">
      <%= f.button :submit, "Iniciar sesión", :class => "btn btn-block btn-primary" %>
    </div>

    <div class="form-group text-center">
      <div class="custom-checkbox" style="text-align: left;">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div> 
    </div>

    
    <%= render "users/shared/links" %>

  <% end %>
</div>






