<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">search</i>
          <span style="width: 20px;height: 33px;line-height: 33px;font-size: 20px;">Buscar Usuario</span>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for :search, url: search_users_path, method: "GET", html: { class: 'search-content' } do |f| %>
          <%= f.input :q, label: "Nombre/correo", input_html: {value: params[:search][:q]} %>
          <%= f.submit "Buscar", :class => "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <h4 class="card-header card-header-info">Usuarios</h4>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th class="text-center">Activo</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
            	<% if @users.any? %>
	              <% @users.each do |user| %>
	                <tr>
	                  <td><%= user.name %></td>
	                  <td><%= user.email %></td>
	                  <td><%= user.role_name %></td>
	                  <td class="text-center"><%= user.active.present? ? "Si" : "No" %></td>
	                  <td>
                      <% if current_user.has_role?(:admin) || current_user.has_role?(:approver) %>
  	                    <%= link_to_show(user) %>
  	                    <%= link_to_edit(edit_user_path(user)) %>
  	                    <%= link_to_delete(user) %>
                      <% end %>
	                  </td>
	                </tr>
	              <% end %>
	            <% else %>
	            	<tr>
	            		<td colspan="5">
	            			No existen resultados
	            		</td>
	            	</tr>
	            <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @users %>
        <% if current_user.has_role?(:admin) || current_user.has_role?(:approver) %>
          <%= link_to "Nuevo".html_safe, new_user_path, :class => "btn btn-success", data: { modal: true }  %>
        <% end %>
      </div>
    </div>
  </div>
</div>