<div class="row">

  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">

        <div class="card-icon">
            <i class="material-icons">search</i>
            <span style="width: 33px;height: 33px;line-height: 33px;font-size: 28px;">Buscar Cotización</span>
            
        </div>

      </div>
      <div class="card-body">
        <%= simple_form_for :search, url: search_quotations_path, method: "GET", html: { class: 'search-content' } do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :company_id, collection: @all_companies, :selected => params[:search].present? ? params[:search][:company_id] : "", label_method: lambda { |p| "#{p.full_name}"}, prompt: "Seleccione opción", :include_blank => "Todos", label: "RUC/CI - Nombre Empresa", :required => false, input_html: {class: 'select_index_2'} %>
            </div>
            <div class="col-md-6">
              <%= f.input :user_id, collection: @all_users, :selected => params[:search].present? ? params[:search][:user_id] : "", label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", :include_blank => "Todos", label: "Comercial", :required => false, input_html: {class: 'select_index_2'} %>
            </div>
            <div class="col-md-12">
              <%= f.submit "Buscar", :class => "btn btn-success", :id => "search" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% if (current_user.has_role?(:admin) || current_user.has_role?(:approver)) %>
  

    
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list_alt</i>
                </div>
                <p class="card-category">Cotizaciones</p>
                <h3 class="card-title">
                  <%= @quotations_pending_count %>
                  <small>Pendientes</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/quotations/search?search[status]=1" style="color: #999999;">Ver cotizaciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  
                  <i class="material-icons">list_alt</i>
                  
                </div>
                <p class="card-category">Cotizaciones</p>
                <h3 class="card-title">
                  <%= @quotations_approved_count %>
                  <small>Aprobadas</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/quotations/search?search[status]=2" style="color: #999999;">Ver cotizaciones</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list_alt</i>
                </div>
                <p class="card-category">Cotizaciones</p>
                <h3 class="card-title">
                  <%= @quotations_rejected_count %>
                  <small>Rechazadas</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/quotations/search?search[status]=4" style="color: #999999;">Ver cotizaciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  
                  <i class="material-icons">business</i>
                  
                </div>
                <p class="card-category">Empresas</p>
                <h3 class="card-title"><%= @company_count %>
                    <small>Nuevas</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/companies" style="color: #999999;">Todas las empresas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Email Subscriptions</h4>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Completed Tasks</h4>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Tasks:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                    <i class="material-icons">bug_report</i> Bugs
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#messages" data-toggle="tab">
                                    <i class="material-icons">code</i> Website
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings" data-toggle="tab">
                                    <i class="material-icons">cloud</i> Server
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="messages">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="settings">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Employees Stats</h4>
                <p class="card-category">New employees on 15th September, 2016</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->

<% else %>  

<div class="col-md-4 ml-auto mr-auto">
  <div class="card card-pricing bg-warning"><div class="card-body ">
      <div class="card-icon">
          <i class="material-icons text-white" style="font-size: 52px">business</i>
      </div>
      <h3 class="card-title">Agregar Empresa</h3>
      <!-- <p class="card-description">
        This is good if your company size is between 11 and 99 Persons.
      </p> -->

      <%= link_to '<i class="material-icons">add_circle</i >Nuevo'.html_safe, new_company_path, :class => "btn btn-white btn-round", style: "width: 100%", data: { modal: true }  %>

      </div>
  </div>
</div>

<div class="col-md-4 ml-auto mr-auto">
  <div class="card card-pricing bg-success"><div class="card-body ">
      <div class="card-icon">
          <i class="material-icons text-white" style="font-size: 52px">list_alt</i>
      </div>
      <h3 class="card-title">Agregar Cotización</h3>
      <!-- <p class="card-description">
        This is good if your company size is between 11 and 99 Persons.
      </p> -->
      <!-- <a href="#" class="btn btn-white btn-round" style="width: 100%">
        <i class="material-icons">add_circle</i>
        Nuevo
      </a> -->

      <%= link_to '<i class="material-icons">add_circle</i >Nuevo'.html_safe, new_quotation_path, :class => "btn btn-white btn-round", style: "width: 100%", data: { modal: true }  %>
      </div>
  </div>
</div>

<div class="col-md-4 ml-auto mr-auto">
  <div class="card card-pricing bg-info"><div class="card-body ">
      <div class="card-icon">
          <i class="material-icons text-white" style="font-size: 52px">history</i>
      </div>
      <h3 class="card-title">Agregar Archivo</h3>
      <!-- <p class="card-description">
        This is good if your company size is between 11 and 99 Persons.
      </p> -->

      <%= link_to '<i class="material-icons">add_circle</i >Nuevo'.html_safe, new_quotation_path(:archive => true), :class => "btn btn-white btn-round", style: "width: 100%", data: { modal: true }  %>

      </div>
  </div>
</div>

</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  
                  <i class="material-icons">business</i>
                  
                </div>
                <p class="card-category">Empresas</p>
                <h3 class="card-title"><%= @company_count %>
                    <!-- <small>Pendientes</small> -->
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/companies" style="color: #999999;">Todas mis empresas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  
                  <i class="material-icons">list_alt</i>
                  
                </div>
                <p class="card-category">Cotizaciones</p>
                <h3 class="card-title"><%= @quotation_count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/quotations" style="color: #999999;">Todas mis cotizaciones</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Comerciales</p>
                <h3 class="card-title"><%= @user_count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="/users" style="color: #999999;">Todas los comerciales</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">print</i>
                </div>
                <p class="card-category">Plantillas</p>
                <h3 class="card-title"><%= @template_count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">list</i>
                    <a href="#" style="color: #999999;">Todas las plantilla</a>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>





    



<script type="text/javascript">
  $( document ).ready(function() {

    $('select.select_index_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
    });

    function load_timeline(){
      console.log("Load time line")
      $("#search").click();
    }
    $("#search_company_id, #search_user_id").change(function() {
      load_timeline();    
    });

  });
</script>
