<h1>Nueva cotización</h1>

<p>
  El usuario <strong><%= @saler.name %></strong> creó una nueva cotización para la empresa <strong> <%= @quotation.company.name %></strong>.
</p>

<p>
  Para ver la cotización revisar el siguiente  <%= link_to "link", quotation_url(@quotation, :host => "https://ecua-comercial.herokuapp.com") %>
</p>
</br>
<p>
	<i>ECUAMERICAN - Administración de Cotizaciones	</i>
</p>

