<h1>Hola, <%= @saler.name %></h1>

<p>
  El usuario <strong><%= @approver.name %></strong> rechazó una cotización para la empresa <strong> <%= @quotation.company.name %></strong>.
</p>

<% if @quotation.note.present? %>
	<p>
	  <strong>Motivo: </strong> <%= @quotation.note %>
	</p>	
<% end %>

<p>
  Para ver la cotización revisar el siguiente  <%= link_to "link", quotation_url(@quotation, :host => "https://ecua-comercial.herokuapp.com") %>
</p>
</br>
<p>
	<i>ECUAMERICAN - Administración de Cotizaciones	</i>
</p>

