<% if @body_to_send.present? %>
	<p>
		<%= @body_to_send %>
	</p>
<% else %>
	<h1><%= @quotation.company.name %></h1>
	<h2>Estimado(a), <%= @quotation.addressed_to %></h2>

	</br>
	</br>

	<p>
		El presente correo electrónico adjunta la cotización realizada para <strong> <%= @quotation.company.name %> </strong>, la misma tiene como vigencia el <%= @quotation.validity.strftime("%A, %-d %b %Y") %>. 
	</p>
<% end %>

<p>
	<i>ECUAMERICAN - Administración de Cotizaciones	</i>
	</br>
	Asesor Comercial
	</br>
	<%= @saler.name %>
	</br>
	<%= @saler.email %>
</p>

