
<div class="modal-body">  
  <%= simple_nested_form_for(@quotation, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <section class="multi_step_form">  
           <div id="container-pg"> 
            <ul id="progressbar">
              <% if @archive %>
                <li style="width: 100%;" class="<%= @quotation.step.to_i == 0 ? 'active' : '' %>">Archivo Cotización</li>
              <% else %>
                <li class="<%= @quotation.step >= 1 ? 'active' : '' %>">Empresa</li>  
                <li class="<%= @quotation.step >= 2 ? 'active' : '' %>">Cotización</li> 
                <li class="<%= @quotation.step >= 3 ? 'active' : '' %>">Notificación</li>
              <% end  %>
            </ul>    
          </div>  
        </section> 
      </div>
    </div>
    <% if notice.present? %>
        <p id="notice" class="alert alert-warning" style="color: #fff; padding: 5px 10px; margin-top: 10px"><%= notice %></p>
    <% end %>
    <% if @archive %>
      <!-- ================= Companies Step ==================== -->
      <div class="row <%= @quotation.step.to_i == 0 ? 'show' : 'hide' %>" >
        <%= f.fields_for :company, :wrapper => false do |company_form| %>
          <div class="col-md-6 ml-auto mr-auto">
            <%= company_form.input :ruc, collection: @all_companies, :value_method => :ruc, label_method: lambda { |p| "#{p.full_name}"}, disabled: @other_companies, prompt: "Seleccione opción", label: "RUC/CI", input_html: {class: 'select_tag_2'} %>
            <!-- <%= company_form.input :ruc, as: :hidden %> -->
            <%= company_form.input :id, as: :hidden %>
          </div>  
          <div class="col-md-6 ml-auto mr-auto" >
            <%= company_form.input :name %> 
          </div>  
          <div class="col-md-6 ml-auto mr-auto">
          <%= company_form.input :sector, collection: @sectors, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <% if current_user.has_role? :admin %>
              <%= company_form.input :user_id, collection: @all_users, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
            <% else %>
              <div class="form-group email optional company_contact_email">
                <label class="string required" for="company_user">Asignado <abbr title="required">*</abbr></label>
                <p class="h4"><%= current_user.name %>  </p>
              </div>

              <%= company_form.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <% end %>
          </div>
        <% end %>

        <div class="col-md-12 ml-auto mr-auto">
          <%= f.input :description %>
        </div>

        <div class="col-md-6 ml-auto mr-auto">
          <%= f.input :date, as: :string , input_html: {class: 'date-selector'} %> 
        </div>

        <div class="col-md-6 ml-auto mr-auto">
          <%= f.input :total %>
        </div>


        <%= f.input :company_id, as: :hidden %>
        <%= f.input :step, as: :hidden %>
        <%= hidden_field_tag :archive, true %>
      </div>

      <!-- ================= Buttons section ==================== -->  
      <div class="form-actions save-buttons-q" style="text-align: right;">
        <%= button_tag(:class => "btn btn-success btn-lg", name: "finish", value: "finish", data: { confirm: 'Esta seguro de enviar los datos de la cotización?', disable_with: "Por favor espera..." }) do %>
          Finalizar <i class='material-icons'>save</i>
        <% end %>
      </div>

    <% else %>
      <!-- ================= Companies Step ==================== -->
      <div class="row <%= @quotation.step == 1 ? 'show' : 'hide' %>" >
        <%= f.fields_for :company, :wrapper => false do |company_form| %>
          <div class="col-md-6 ml-auto mr-auto">
            <%= company_form.input :ruc, collection: @all_companies, :value_method => :ruc, label_method: lambda { |p| "#{p.full_name}"}, disabled: @other_companies, prompt: "Seleccione opción", label: "RUC/CI", input_html: {class: 'select_tag_2'} %>
            <!-- <%= company_form.input :ruc, as: :hidden %> -->
            <%= company_form.input :id, as: :hidden %>
          </div>  
          <div class="col-md-6 ml-auto mr-auto" >
            <%= company_form.input :name %> 
          </div>  
          <div class="col-md-6 ml-auto mr-auto">
          <%= company_form.input :sector, collection: @sectors, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <% if current_user.has_role? :admin %>
              <%= company_form.input :user_id, collection: @all_users, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
            <% else %>
              <div class="form-group email optional company_contact_email">
                <label class="string required" for="company_user">Asignado <abbr title="required">*</abbr></label>
                <p class="h4"><%= current_user.name %>  </p>
              </div>

              <%= company_form.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <% end %>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :contact_name %>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :contact_email %>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :contact_phone %>
          </div>

          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :doctor_name %>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :doctor_email %>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= company_form.input :doctor_phone %>
          </div>

          <div class="col-md-12 ml-auto mr-auto">
            <%= company_form.input :direction %>
          </div>
        <% end %>
        <%= f.input :company_id, as: :hidden %>
        <%= f.input :step, as: :hidden %>
      </div>

      <!-- ================= Quotations Step ==================== -->
      <div class="row <%= @quotation.step == 2 ? 'show' : 'hide' %>">

        <div class="col-md-12 ml-auto mr-auto">
          <%= f.input :description %>
        </div>

        <div class="col-md-12 ml-auto mr-auto">
          <label class="text required" for="quotation_description">Exámenes <abbr title="required">*</abbr></label>
        </div>

        

        <div class="col-md-12 ml-auto mr-auto" id="row_items">
          <div class="row fields hide-small align-items-center">
            <div class="col-md-5">
              Exámenes de laboratorio
            </div>
            <div class="col-md-7">
              <div class="row item_values align-items-center">
                <div class="col">
                  Cant
                </div>

                <%= f.fields_for :quotation_columns, @quotation.quotation_columns.sort_by(&:id) , :wrapper => false do | quotation_column_form| %>
                  <div class="col col_val hide">
                    <%= quotation_column_form.input :title, label: false, input_html: {:class => "value"} %>
                  </div>
                <% end %>
                
                <div class="col">
                  Total
                </div> 
                <div class="col">
                </div>
              </div>
            </div>
            
          </div>
          
          <%= f.fields_for :quotation_items, @quotation.quotation_items.sort_by(&:id) , :wrapper => false do |quotation_item_form| %>
            <div class="row fields ">
              <div class="col-md-5">
                <span class="label">Descripción</span>
                <%= quotation_item_form.input :exam_id, collection: @all_exams, label_method: lambda { |p| "#{p.full_name}"}, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2', :style => "width: 100%;"}%>
              </div>

              <div class="col-md-7">
                <div class="row item_values">
                  
                  <div class="col">
                    <%= quotation_item_form.input :quantity, label: false, input_html: {:value => quotation_item_form.object.quantity|| "1", :class => "quantity"} %>
                  </div>
                  <div class="col col_val">
                    <%= quotation_item_form.input :value_0, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value_0,:precision => 2) || "0.00", :class => "value col-0"} %>
                  </div>
                  <div class="col col_val hide">
                    <%= quotation_item_form.input :value_1, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value_1,:precision => 2) || "0.00", :class => "value col-1"} %>
                  </div>
                  <div class="col col_val hide">
                    <%= quotation_item_form.input :value_2, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value_2,:precision => 2) || "0.00", :class => "value col-2"} %>
                  </div>
                  <div class="col col_val hide">
                    <%= quotation_item_form.input :value_3, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value_3,:precision => 2) || "0.00", :class => "value col-3"} %>
                  </div>
                  <div class="col col_val hide">
                    <%= quotation_item_form.input :value_4, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value_4,:precision => 2) || "0.00", :class => "value col-4"} %>
                  </div>
                  <div class="col">
                    <%= quotation_item_form.input :total, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.total,:precision => 2) || "0.00", :class => "total"} %>
                  </div>
                  <div class="col">
                    <%= quotation_item_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe, :class => "btn btn-danger btn-link btn-sm" %>
                  </div>
                </div>
              </div>
            </div>          
          <% end %>
        </div>

        <div class="col-md-12 ml-auto mr-auto" id="row_items-total">
          <div class="row hide-small align-items-center">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                  <%= f.link_to_add "<i class='material-icons'>add_circle</i> Examen".html_safe, :quotation_items, :data => { :target => "#row_items" }, :class => "btn btn-info btn-sm ", :style => "width: 100%" %>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <a class="btn btn-info btn-sm add_column" style="width: 100%" href="#"><i class="material-icons">add_circle</i> Localidad</a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row item_values align-items-center">
                <div class="col" style="font-weight: bold;text-align: right;text-transform: uppercase;">
                  <!-- Total -->
                </div>

                <%- total_col_num = 0 %>
                <%- columns_count = 5 %>
                <% (1..columns_count).each do |i| %>
                  <div class="col col_val hide">
                    <div class="form-group decimal optional quotation_quotation_columns_total">
                      <%= text_field_tag :total, "0.00", :class => "form-control total-v", :id => "total-col-#{total_col_num}" %>  
                    </div>
                    
                  </div>
                  <%- total_col_num = total_col_num + 1 %>
                <% end %>
                
                
                <div class="col quotation_quotation_columns_total">
                  <%= f.input :total, :label => false %>
                </div> 
                <div class="col">
                </div>
              </div>
            </div>
          </div>
        </div>



        


        <!-- <div class="col-md-6 ml-auto mr-auto" style="font-weight: bold;text-align: right;text-transform: uppercase;">
          <div class="row align-items-center">
            <div class="col-md-6 ml-auto mr-auto" >
              Total
            </div>
            <div class="col-md-6 ml-auto mr-auto">
              <%= f.input :total, :label => false %>
            </div>
          </div>
        </div> -->

        

        <div class="col-md-6 ml-auto mr-auto">
          <%= f.input :date, as: :string , input_html: {class: 'date-selector'} %> 
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <%= f.input :validity, as: :string , input_html: {class: 'date-selector'} %> 
        </div>
        <!-- <div class="col-md-6 ml-auto mr-auto">
          <%= f.input :status, collection: @status, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
        </div> -->
      </div>

      <!-- ================= Notifications Step ==================== -->
      <div class="row <%= @quotation.step == 3 ? 'show' : 'hide' %>">
        <div class="col-md-12 ml-auto mr-auto">
          <%= f.input :addressed_to %>
        </div>

        <div class="col-md-12 ml-auto mr-auto">
          <%= f.input :email %>
        </div>
      </div>
      <!-- ================= Buttons section ==================== -->  
      <div class="form-actions save-buttons-q" style="text-align: right;">
        <% if @quotation.step == 1 %>
          <%= button_tag(:class => "btn btn-info btn-lg", name: "next_1") do %>
            Siguiente <i class='material-icons'>skip_next</i>
          <% end %>

        <% elsif @quotation.step == 2 %>
          
          <%= button_tag(:class => "btn btn-info btn-lg", name: "preview_1", value: "preview_1") do %>
            <i class='material-icons'>skip_previous</i> Anterior 
          <% end %>

          <%= button_tag(:class => "btn btn-info btn-lg", name: "next_2") do %>
            Siguiente <i class='material-icons'>skip_next</i>
          <% end %>
        <% elsif @quotation.step == 3 %>

          <%= button_tag(:class => "btn btn-info btn-lg", name: "preview_2", value: "preview_2") do %>
            <i class='material-icons'>skip_previous</i> Anterior 
          <% end %>

          <%= button_tag(:class => "btn btn-success btn-lg", name: "finish", value: "finish", data: { confirm: 'Esta seguro de enviar los datos de la cotización?', disable_with: "Por favor espera..." }) do %>
            Finalizar <i class='material-icons'>save</i>
          <% end %>
        <% end %>
      </div>
    <% end %>


  <% end %>
</div>

<script type="text/javascript">
  var col_num = 1;
  $(".add_column").click(function(event) {
    event.preventDefault();
    col_num = col_num + 1;
    addColumn(col_num);
  });
    
  function addColumn(col_num){
    console.log(col_num);
    rows = $(".item_values");
    rows.each(function( index ) {
      cols = $(this).find(".col_val");
      cols.each(function( index ) {
        if (index <= (col_num - 1)){
          $(this).removeClass("hide");  
        }
      });
    });
  }
  
  
  $( document ).ready(function() {
    console.log("total columns: " + col_num);
    addColumn(col_num);
    $(".date-selector").flatpickr({
      altInput: true,
      enableTime: false,
      locale: "es",
      dateFormat: "Y-m-d",
      altFormat: "l, d M Y"
    });

    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    });


    // Select to get patient info
    $('select.select_tag_2').select2({
      tags: true,
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      company_id = null;
      ci = null;
      console.log(evt.params.data);
      if (evt.params.data){
        ci = evt.params.data.id;
      }else{
        ci = evt.params.data.text;
      }

      load_with_company(company_id, ci);
    });


    function load_with_company(company_id, ci){
      const modal_holder_selector = '#modal-holder';
      const modal_selector = '.modal';
      var location = "/quotations/new";  
      if (company_id){
        location = location + "?company_id=" + company_id;
      } else{
        if (ci){
          location = location + "?ci=" + ci;  
        } 
      }
      if ($("#archive").length > 0){
        location = location + "&archive=true";  
      }
      // Load modal dialog from server
      $.get(
        location,
        data => { $('.modal-backdrop').remove(); $(modal_holder_selector).html(data).find(modal_selector).modal(); }
      );
      return false;
    }

    
    $(document).on('keyup', ".value, .quantity", function() {

      item_values = $(this).parents(".item_values");
      value = 0
      item_values.find(".value").each(function( index ) {
        value = value + parseFloat($(this).val());
      });
      // value = parseFloat(item_values.find(".value").val());
      quantity = parseFloat(item_values.find(".quantity").val());
      sub_total = value * quantity;
      item_values.find(".total").val(sub_total.toFixed(2));
      total = 0
      $( ".total" ).each(function() {
        total = total + parseFloat($( this ).val());
      });
      $('#quotation_total').val(total.toFixed(2));

      // Vertical Total
      for (var n = 0; n < 4; ++ n){
        col_values = $(".col-" + n);
        console.log(col_values);
        value = 0
        col_values.each(function( index ) {
          console.log( index + ": " + $( this ).val() );
          value = value + parseFloat($(this).val());
        });
        console.log(value);
        $('#total-col-' + n).val(value.toFixed(2));
      }
      
      
    });



  });
</script>


