<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">search</i>
          <span style="width: 33px;height: 33px;line-height: 33px;font-size: 28px;">Buscar Cotización</span>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for :search, url: search_quotations_path, method: "GET", html: { class: 'search-content' } do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :company_id, collection: @all_companies, :selected => params[:search].present? ? params[:search][:company_id] : "", label_method: lambda { |p| "#{p.full_name}"}, :include_blank => "Todos", label: "RUC/CI - Nombre Empresa", required: false, input_html: {class: 'select_index_2'} %>
            </div>
            <div class="col-md-6">
              <%= f.input :user_id, collection: @all_users, :selected => params[:search].present? ? params[:search][:user_id] : "", label_method: lambda { |p| "#{p.name}"}, :include_blank => "Todos", label: "Comercial", required: false, input_html: {class: 'select_index_2'} %>
            </div>

            <div class="col-md-6">
              <%= f.input :status, collection: @status, :selected => params[:search].present? ? params[:search][:status] : "", :include_blank => "Todos", label: "Etapa", required: false, input_html: {class: 'select_index_2'} %>
            </div>


            <div class="col-md-12">
              <%= f.submit "Buscar", :class => "btn btn-success", :id => "search" %>
              <%= link_to '<i class="material-icons">add_circle</i >Nuevo'.html_safe, new_quotation_path, :class => "btn btn-success", data: { modal: true }  %>
            </div>
          </div>
          
          
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    console.log("=====>>>> on layout")
    $('select.select_index_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
    });
    function load_timeline(){
      console.log("Load time line")
      $("#search").click();
    }
    $("#search_company_id, #search_user_id, #search_status").change(function() {
      load_timeline();    
    });
  });
</script>