<div class="book">
  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/1.png" style="width: 100%; height: 100%; height: 297mm;">
  	<div class="body-text">
  		<br/>
  		<br/>
  		<br/>
  		<p>
  			<div style="float: left; font-style: italic;">
  				<%= @quotation.addressed_to %>
  			</div>

  			<div style="float: right; font-style: italic;">
  				Quito, <%= I18n.localize(Date.today, format: :long) %>
  			</div>
  	</div>
  	
  </div>
  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/2.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/3.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/4.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/5.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/6.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/7.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/8.png" style="width: 100%; height: 100%; height: 297mm;">
  </div>

  <div class="page">
  	<img src="http://localhost:3025/images/pdf_layout.png" style="width: 100%; height: 100%; height: 297mm;">
  	<div class="body-text">
			<br/>
			<br/>
			<br/>
			<p style="margin-left: 70px;">
				<strong>Detalle de exámenes requeridos:</strong>
				
			</p>
			<br/>
			<br/>

      <table style="margin-left: 70px; border-collapse: collapse; font-size: 12px; border-color: #333;" border="1">
        <tr style="background: #eee; text-transform: uppercase;">
            <th class="text-center" style="padding: 20px 10px;">#</th>
            <th class="text-left" style="padding: 20px 10px;">Exámenes de laboratorio</th>
            <th class="text-center" style="padding: 20px 10px;">Cant.</th>
            

            <% columns_count = 0 %>
            <% @columns.each do |column| %>
              <% if column.present? %>
                <% columns_count = columns_count + 1 %>
                <th class="text-center" style="padding: 20px 10px;"><%= column %></th> 
              <% end %>
            <% end %>

            <th class="text-center" style="padding: 20px 10px;">Total</th>
        </tr>
        <% count = 1 %>
        <% @exams_item.each do |exam| %>
          <% if exam[0] > 1 %>
            <tr>
              <td colspan="<%= 4 + columns_count %>" class="type-table" style="background: #00bcd4; text-transform: uppercase;"><%= select_array(@exam_types, exam[0]) %></td>
            </tr>
          <% else %>  
            <tr>
              <td colspan="<%= 4 + columns_count %>" class="type-table" style="background: #00bcd4; text-transform: uppercase;" >Otros</td>
            </tr>
          <% end %>

          <% exam[1].each do |item | %>
            <tr>
              <td class="text-center"><%= count %></td>
              <td class="text-left"><%= item[:description] %></td>
              <td class="text-center"><%= item[:quantity] %></td>
              

              <% (0..(columns_count - 1)).each do |i| %>
                <%- value_key = "value_#{i}" %>
                <td class="text-right">
                  &dollar; <%= number_with_precision(item[:"#{value_key}"] ,:precision => 2) %>  
                </td>  
              <% end %>

              <td class="text-right">&dollar;<%= number_with_precision(item[:total] ,:precision => 2) %></td>
              <% count = count + 1 %>
            </tr>
            
          <% end %>

        <% end %>
        <tr style="background: #00bcd4;">
          <td colspan="<%= 3 + columns_count %>"  style="text-align: right;">TOTAL (Aprox)</td>
          <td class="text-right">&dollar;<%= number_with_precision(@quotation.total, :precision => 2) %></td>
        </tr>
        
      </table>


			<br/>
			<br/>
			<% if @quotation.note.present? %>
				<p  style="margin-left: 70px;">
					<strong>Nota: </strong>
					<%= @quotation.note %>
				</p>
			<% end %>
			
		</div>
  </div>

  <div class="page">
  	<img src="https://ecua-comercial.s3.amazonaws.com/carta/9.png" style="width: 100%; height: 100%; height: 297mm;">
  	<div class="body-text">
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
			<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<p>
  			<div style="float: left;">
  				Asesor Comercial
  				<br/>
  				<br/>
          <% if @quotation.created_by.present? %>
    				<%= @quotation.created_by.name %>
    				<br/>
    				<%= @quotation.created_by.email %>
          <% end %>
  			</div>
  		</p>
  			
  	</div>
  </div>
</div>