<div class="modal-header">
  <h5 class="modal-title">Aprobar Cotización</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">  
  <%= simple_nested_form_for(@quotation, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
    <!-- ================= Quotations Step ==================== -->
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :description %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <label class="text required" for="quotation_description">Exámenes <abbr title="required">*</abbr></label>
      </div>

      <div class="col-md-12 ml-auto mr-auto" id="row_items">
        <div class="row fields">
          <div class="col-md-5">
            Descripción
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-4">
                Catidad
              </div>
              <div class="col-md-4">
                Valor
              </div>
              <div class="col-md-4">
                Total
              </div>  
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <%= f.fields_for :quotation_items, @quotation.quotation_items.sort_by(&:id) , :wrapper => false do |quotation_item_form| %>
          <div class="row fields">
            <div class="col-md-5">
              <%= quotation_item_form.input :exam_id, collection: @all_exams, label_method: lambda { |p| "#{p.full_name}"}, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2', :style => "width: 100%;"}%>
            </div>

            <div class="col-md-5">
              <div class="row item_values">
                <div class="col-md-4">
                  <%= quotation_item_form.input :quantity, label: false, input_html: {:value => quotation_item_form.object.quantity|| "1", :class => "quantity"} %>
                </div>
                <div class="col-md-4">
                  <%= quotation_item_form.input :value, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.value,:precision => 2) || "0.00", :class => "value"} %>
                </div>
                <div class="col-md-4">
                  <%= quotation_item_form.input :total, label: false, input_html: {:value => number_with_precision(quotation_item_form.object.total,:precision => 2) || "0.00", :class => "total"} %>
                </div>
              </div>

            </div>
            <div class="col-md-2">
              <%= quotation_item_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe, :class => "btn btn-danger" %>
            </div>
          </div>          
        <% end %>
      </div>

      <div class="col-md-5 ml-auto mr-auto">
        <%= f.link_to_add "<i class='material-icons'>add_circle</i> Añadir".html_safe, :quotation_items, :data => { :target => "#row_items" }, :class => "btn btn-info", :style => "text-align: right" %>
      </div>


      <div class="col-md-5 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
          </div>
          <div class="col-md-4 ml-auto mr-auto" style="padding: 14px;font-weight: bold;text-align: right;text-transform: uppercase;">
            Total
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <%= f.input :total, :label => false %>
          </div>
        </div>
      </div>

      <div class="col-md-2 ml-auto mr-auto">
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :date, as: :string , input_html: {class: 'date-selector'} %> 
      </div>
      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :validity, as: :string , input_html: {class: 'date-selector'} %> 
      </div>
      <!-- <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :status, collection: @status, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div> -->
      
      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :note %>
      </div>
    </div>

    <!-- ================= Notifications Step ==================== -->
 
    <div class="row <%= @quotation.step == 3 ? 'show' : 'hide' %>">
      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :addressed_to %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :email %>
      </div>
    </div>
  

    <!-- ================= Buttons section ==================== -->  


    <div class="form-actions save-buttons-q" style="text-align: right;">
      <% if @quotation.step == 1 %>
        <%= button_tag(:class => "btn btn-info btn-lg", name: "next_1") do %>
          Siguiente <i class='material-icons'>skip_next</i>
        <% end %>

      <% elsif @quotation.step == 2 %>
        
        <%= button_tag(:class => "btn btn-info btn-lg", name: "preview_1", value: "preview_1") do %>
          <i class='material-icons'>skip_previous</i> Anterior 
        <% end %>

        <%= button_tag(:class => "btn btn-info btn-lg", name: "next_2") do %>
          Siguiente <i class='material-icons'>skip_next</i>
        <% end %>
      <% elsif @quotation.step == 3 %>

        <%= button_tag(:class => "btn btn-info btn-lg", name: "preview_2", value: "preview_2") do %>
          <i class='material-icons'>skip_previous</i> Anterior 
        <% end %>

        <%= button_tag(:class => "btn btn-success btn-lg", name: "finish", value: "finish") do %>
          Finalizar <i class='material-icons'>save</i>
        <% end %>
      <% end %>
      
      
      
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $( document ).ready(function() {

    $(".date-selector").flatpickr({
      altInput: true,
      enableTime: false,
      dateFormat: "Y-m-d",
    });

    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    });


    // Select to get patient info
    $('select.select_tag_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      if (evt.params.data.element){
        company_id = evt.params.data.element.value;
        ci = null
        console.log(company_id);
      }else{
        company_id = null;
        ci = evt.params.data.text
        console.log("usuario nuevo");
        console.log();
      }
      load_with_patient(company_id, ci);
    });


    function load_with_patient(company_id, ci){
      const modal_holder_selector = '#modal-holder';
      const modal_selector = '.modal';
      var location = "/quotations/new";  
      if (company_id){
        location = location + "?company_id=" + company_id;
      } else{
        if (ci){
          location = location + "?ci=" + ci;  
        } 
      }
      // Load modal dialog from server
      $.get(
        location,
        data => { $('.modal-backdrop').remove(); $(modal_holder_selector).html(data).find(modal_selector).modal(); }
      );
      return false;
    }

    
    $(document).on('keyup', ".value, .quantity", function() {

      item_values = $(this).parents(".item_values");

      console.log(item_values);

      value = parseFloat(item_values.find(".value").val());
      quantity = parseFloat(item_values.find(".quantity").val());
      sub_total = value * quantity;

      console.log(sub_total);
      item_values.find(".total").val(sub_total.toFixed(2));

      total = 0
      $( ".total" ).each(function() {
        total = total + parseFloat($( this ).val());
      });
      console.log(total);

      $('#quotation_total').val(total.toFixed(2));

    });

  });
</script>

