<%= render 'search_box' %>


<div class="row">
  <div class="col-md-8 ">
  </div>
  <div class="col-md-4" style="text-align: right;">
    <a class="nav-link hide-small" href="/quotations" style="float: right; background: #ccc">
      <i class="material-icons">list</i>
    </a>
    <a class="nav-link" href="/quotations/search" style="float: right;">
      <i class="material-icons">view_module</i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <h4 class="card-header card-header-info">Cotizaciones</h4>
      <div class="card-body">
        <table class="table responsive">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Fecha</th>
              <th>Vigencia</th>
              <th>Creado por</th>
              <th>Etapa</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% if @quotations.any? %>
              <% @quotations.each do |quotation| %>
                <tr>
                  <td><%= link_to quotation.company.present? ? quotation.company.full_name : "Sin Asignar", quotation  %></td>
                  <td><%= l(quotation.date, format: @date_format_words)  %></td>
                  <td><%= quotation.validity.present? ? l(quotation.validity, format: @date_format_words) : "N/A"%></td>
                  <td><%= quotation.company.present? ? quotation.company.user.name : "Sin Asignar" %></td>
                  <td><%= select_array(@status, quotation.status) %></td>

                  <td>
                    
                    <%= link_to_edit(edit_quotation_path(quotation)) %>




                    <% if quotation.status <= 1 %>
                      
                      <%= link_to '<i class="material-icons">check_box</i>'.html_safe , status_quotation_path(quotation, :status => 2), data: { confirm: 'Esta seguro de aprobar?' }, rel: "tooltip", title: "Aprobar", class: "btn btn-info" %>
                      
                      
                      <%= link_to '<i class="material-icons">cancel</i>'.html_safe , status_quotation_path(quotation, :status => 4), data: { confirm: 'Esta seguro de rechazar?' }, rel: "tooltip", title: "Rechazar", class: "btn btn-danger" %>
                      
                    <% end %>

                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>
                  No se encontró registros
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @quotations %>
        <%= link_to "Nuevo".html_safe, new_quotation_path, :class => "btn btn-success", data: { modal: true }  %>
      </div>
    </div>
  </div>
</div>
