<!doctype html>
<html>
  <head>
    <title>
      <%= "Cotización: #{@quotation.company.present? ? @quotation.company.name : 'Sin Asignar'}"%>
    </title>
    <meta charset='utf-8' />
    
    <style type="text/css">
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .text-center{
        text-align: center;
      }
      * {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      .body-text{
        position: absolute;
        top: 0;
        width: 210mm;
        padding: 80px 110px 80px 80px;
        font-size:14px;
        font-family: Arial;
      }
      p{
        text-align: justify;
      }
      .page {
          width: 210mm;
          min-height: 296mm;
          max-height: 296mm;
          height: 296mm;
          margin: 10mm auto;
          border: 1px #D3D3D3 solid;
          background: white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          position: relative;
          overflow: hidden;
      }
      .subpage {
          padding: 1cm;
          border: 5px red solid;
          height: 257mm;
          outline: 2cm #FFEAEA solid;
      }
      
      @page {
          size: A4;
          margin: 0;
      }
      @media print {
          html, body {
              width: 210mm;
              height: 297mm;        
          }
          .page {
              margin: 0;
              border: initial;
              border-radius: initial;
              width: initial;
              min-height: initial;
              box-shadow: initial;
              background: initial;
              page-break-after: always;
          }
      }
      table{

      }
      td{
        padding: 5px 10px;
      }
      </style>
  </head>
  <body onload='number_pages'>
    <%= render(:partial => 'show_table', :formats => [:html])  %>
    
  </body>
</html>