<!doctype html>
<html>
  <head>
    <title>
      <%= "Cotización: #{@quotation.company.present? ? @quotation.company.name : 'Sin Asignar'}"%>
    </title>
    <meta charset='utf-8' />
    
    <style type="text/css">
      html, body {
          width: 100%;
          margin: 0;
          padding: 0;
      }
      .page {
          margin: 0;
          border: initial;
          border-radius: initial;
          /*width: initial;*/
          /*min-height: initial;*/
          /*height: 297mm !important;*/
          /*width: 100%;*/

          /*width: 210mm;
          min-height: 296mm;
          max-height: 296mm;
          height: 296mm;*/

          width: 210mm + 20mm;
          /*min-height: 296mm;
          max-height: 296mm;*/
          height: 371mm  !important;
          overflow: hidden;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
          position: relative;
          /*background: red;*/
          /*border-bottom: 2mm solid blue;  */
      }

      .page img{
        height: 371.1mm !important;
        margin: 0 !important;
        padding: : 0 !important;
        /*display: none;*/
      }
      * {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      .body-text{
        position: absolute;
        top: 0 !important;
        width: 100% !important;
        padding: 80px 120px 80px 102px !important;
        font-size: 20px !important;
        font-family: Arial;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .text-center{
        text-align: center;
      }
      p{
        text-align: justify;
      }
      /*.page {
          width: 210mm;
          min-height: 296mm;
          max-height: 296mm;
          height: 296mm;
          margin: 10mm auto;
          border: 1px #D3D3D3 solid;
          background: white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          position: relative;
          overflow: hidden;
      }*/
      .subpage {
          padding: 1cm;
          border: 5px red solid;
          height: 257mm;
          outline: 2cm #FFEAEA solid;
      }
      
      @page {
          size: A4;
          margin: 0;
      }
      @media print {
          
      }
      table{

      }
      td{
        padding: 5px 10px;
      }
      </style>
  </head>
  <body onload='number_pages'>
    <%= render(:partial => 'quotations/show_table', :formats => [:html])  %>
    
  </body>
</html>