<%= render 'search_box' %>

<div class="row">
  <div class="col-md-8 ">
  </div>
  <div class="col-md-4" style="text-align: right;">
    <a class="nav-link hide-small" href="/quotations" style="float: right;">
      <i class="material-icons">list</i>
    </a>
    <a class="nav-link" href="/quotations/search" style="float: right; background: #ccc">
      <i class="material-icons">view_module</i>
    </a>
  </div>
</div>


<div class="row">
  <% if @quotations.any? %>
    <% @quotations.each do |quotation| %>
      <div class="col-md-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><strong><%= quotation.company.present? ? quotation.company.name : "Sin asignar" %></strong></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= l(quotation.date, format: @date_format_words) %></h6>
            <h6 class="card-subtitle mb-2 text-muted">
              TOTAL (aprox): 
              <strong style="background-color: #4caf50;background-color: #4caf50; padding: 5px;color: white; border-radius: 3px;">$<%= quotation.total %></strong>
            </h6>
            <p class="card-text">

              <!-- Some quick example text to build on the card title and make up the bulk of the card's content. -->
              <strong>Creado por:</strong>
              <%= quotation.created_by.present? ? quotation.created_by.name : "Sin Asignar" %>
              <br/>
              <strong>Etapa:</strong>
              <%= select_array(@status, quotation.status) %>
              <br/>
              <strong>Dirigido a:</strong>
              <%= quotation.addressed_to %>
              <br/>
              <strong>Vigencia:</strong>
              <%= quotation.validity.present? ? l(quotation.validity, format: @date_format_words) : "N/A" %>
              
              
            </p>

            <div class="row">
              <% if current_user.id == quotation.created_by_id || current_user.has_role?(:admin) || current_user.has_role?(:approver) %>
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                  <%= link_to "<i class='material-icons'>print</i> Imprimir".html_safe, preview_quotation_path(quotation), :class => "btn btn-success", :style => "width: 100%", :target => "_blank" %>  
                </div>
              <% end %>
              <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                <%= link_to "<i class='material-icons'>list_alt</i> Ver".html_safe, quotation_path(quotation, :modal => true), :class => "btn btn-info", :style => "width: 100%", data: { modal: true } %>  
              </div>

              <% if quotation.status <= 1 && (current_user.has_role?(:admin) || current_user.has_role?(:approver)) %>
                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                  <%= link_to '<i class="material-icons">check_box</i>'.html_safe , status_quotation_path(quotation, :status => 2), data: { confirm: 'Esta seguro de aprobar?' }, rel: "tooltip", title: "Aprobar", class: "btn btn-info", :style => "width: 100%" %>
                </div>
                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                  <%= link_to '<i class="material-icons">cancel</i>'.html_safe , status_quotation_path(quotation, :status => 4), data: { confirm: 'Esta seguro de rechazar?' }, rel: "tooltip", title: "Rechazar", class: "btn btn-danger", :style => "width: 100%" %>

                </div>
              <% else %>
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                  <% if quotation.status == 1 %>
                    <div class="alert alert-success" role="alert" style="padding: 10px;margin-top: 5px;margin-bottom: 5px;text-align: center;font-size: 15px;text-transform: uppercase;font-weight: bolder;color: #00bcd4; border: 1px solid #00bcd4; background: transparent; ">
                      Pendiente
                    </div>
                  <% elsif quotation.status == 2 %>
                    <div class="alert alert-success" role="alert" style="padding: 10px;margin-top: 5px;margin-bottom: 5px;text-align: center;font-size: 15px;text-transform: uppercase;font-weight: bolder;color: #4caf50; border: 1px solid #4caf50; background: transparent; ">
                      Aprobado
                    </div>
                  <% elsif quotation.status == 3 %>
                    <div class="alert alert-danger" role="alert" style="padding: 10px;margin-top: 5px;margin-bottom: 5px;text-align: center;font-size: 15px;text-transform: uppercase;font-weight: bolder;color: #f55145; border: 1px solid #f55145; background: transparent;">
                      Finalizado
                    </div>
                  <% elsif quotation.status == 4 %>
                    <div class="alert alert-danger" role="alert" style="padding: 10px;margin-top: 5px;margin-bottom: 5px;text-align: center;font-size: 15px;text-transform: uppercase;font-weight: bolder;color: #f55145; border: 1px solid #f55145; background: transparent;">
                      Rechazado
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12 col-lg-12">
      <p class="h2">
        No se encontró registros
      </p>
    </div>
  <% end %>
  
</div>

