<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <h4 class="card-header card-header-info">
        <%= "Cotización: #{@quotation.company.present? ? @quotation.company.name : 'Sin Asignar'}"%>
      </h4>
      <div class="card-body">

        <div class="row">
          
          <div class="col-md-12 ml-auto mr-auto">
            <p class="h3">Informacion de Empresa</p>
          </div>

          <div class="col-md-6 ml-auto mr-auto">
            <strong>Nombre Empresa:</strong>
            <%= @quotation.company.present? ? @quotation.company.name : "Sin Asignar" %>
            <%= link_to '<i class="material-icons">history</i>'.html_safe , search_quotations_path(:"search[company_id]" => @quotation.company.id), rel: "tooltip", title: "Historial", class: "btn btn-info" %>
          </div>

          <div class="col-md-6 ml-auto mr-auto">
            <strong>RUC/CI:</strong>
            <%= @quotation.company.present? ? @quotation.company.ruc : "Sin Asignar" %>
          </div>

          <div class="col-md-6 ml-auto mr-auto">
            <strong>Nombre Contacto:</strong>
            <%= @quotation.company.present? ? @quotation.company.contact_name : "Sin Asignar" %>

          </div>

          <div class="col-md-6 ml-auto mr-auto">
            <strong>Email Contacto:</strong>
            <%= @quotation.company.present? ? @quotation.company.contact_email : "Sin Asignar" %>
          </div>

          <div class="col-md-12 ml-auto mr-auto">
            <p class="h3">Informacion de Cotizacion</p>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <strong>Fecha:</strong>
            <%= @quotation.date.strftime(@date_format_words) %>
          </div>

          <div class="col-md-6 ml-auto mr-auto">
            <strong>Vigencia:</strong>
            <%= @quotation.validity.present? ? @quotation.validity.strftime(@date_format_words) : "N/A" %>
          </div>

          <div class="col-md-12 ml-auto mr-auto">
            <strong>Descripción:</strong>
            <%= @quotation.description %>
          </div>
          <div class="col-md-12 ml-auto mr-auto">
            <p class="h3">Exámenes</p>
          </div>

          <div class="col-md-12 ml-auto mr-auto">
            
            <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th class="text-center">#</th>
                      <th>Exámenes de laboratorio</th>
                      <th class="text-right">Cantidad</th>
                      <% columns_count = 0 %>
                      <% @columns.each do |column| %>
                        <% if column.present? %>
                          <% columns_count = columns_count + 1 %>
                          <th class="text-right"><%= column %></th> 
                        <% end %>
                      <% end %>
                      
                      <th class="text-right">Total</th>
                  </tr>
              </thead>
              <tbody>
                  <% count = 1 %>
                  <% @exams_item.each do |exam| %>
                    <% if exam[0] > 1 %>
                      <tr>
                        <td colspan="<%= 4 + columns_count %>" class="type-table"><%= select_array(@exam_types, exam[0]) %></td>
                      </tr>
                    <% else %>  
                      <tr>
                        <td colspan="<%= 4 + columns_count %>" class="type-table">Otros</td>
                      </tr>
                    <% end %>

                    <% exam[1].each do |item| %>
                      <tr>
                        <td class="text-center"><%= count %></td>
                        <td><%= item[:description] %></td>
                        <td class="text-right"><%= item[:quantity] %></td>
                        <% (0..(columns_count - 1)).each do |i| %>
                          <%- value_key = "value_#{i}" %>
                          <td class="text-right">
                            &dollar; <%= number_with_precision(item[:"#{value_key}"] ,:precision => 2) %>  
                          </td>  
                        <% end %>
                        
                        <td class="text-right">&dollar; <%= number_with_precision(item[:total] ,:precision => 2) %></td>
                        <% count = count +1 %>
                      </tr>
                      
                    <% end %>

                  <% end %>
                  <tr style="background: #d2d2d2;">
                    
                    <td colspan="<%= 3 + columns_count %>" style="text-align: right;">TOTAL (Aprox)</td>
                    <td class="text-right">&dollar; <%= number_with_precision(@quotation.total, :precision => 2) %></td>
                  </tr>
              </tbody>
            </table>
          </div>

          
          <div class="col-md-6 ml-auto mr-auto">
          </div>

          <!-- Status section -->

          <div class="col-md-12 ml-auto mr-auto">
            <p class="h3">Etapa</p>
          </div>

          <div class="col-md-12 ml-auto mr-auto">
            <div class="bar"></div>
            <div class="timeline">
                <% if @quotation.status >= 0 %>
                  <div class="entry">
                      <h1>Elaborado</h1>
                      <span><%= @quotation.created_by.name %></span>
                  </div>
                <% end %>
                <% if @quotation.status >= 1 %>
                  <div class="entry">
                      <h1>Pendiente</h1>
                      En revisión
                  </div>
                <% end %>
                <% if @quotation.status >= 2 && @quotation.status != 4%>
                  <div class="entry">
                      <h1>Aprobado</h1>
                      <span><%= @quotation.approved_user.name if @quotation.approved_user %></span>
                  </div>
                <% elsif @quotation.status >= 4 %>
                  <div class="entry">
                      <h1>Rechazado</h1>
                      <span><%= @quotation.rejected_user.name if @quotation.rejected_user %></span>
                  </div>
                <% end %>
                <% if @quotation.status >= 3 %>
                  <div class="entry">
                      <h1>Finalizado</h1>
                      <%= @quotation.validity.present? ? @quotation.validity.strftime(@date_format_words) : "N/A" %>
                  </div>
                <% end %>
            </div>

            <% if @quotation.note.present? %>
              <strong>Motivo: </strong>
              <%= @quotation.note %>
            <% end %>

          </div>

          <% if (current_user.id == @quotation.created_by_id && (@quotation.status == 2 || @quotation.status == 3) ) %>

            <!-- Contract sections -->
            <div class="col-md-12 ml-auto mr-auto">
              <p class="h3">Contratos</p>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
              <%= simple_nested_form_for(@quotation, url: contract_quotation_path(@quotation), method: "GET", remote: :true, html: { class: 'row', id: "contract_form" }) do |f| %>
                <div class="col-md-12 ml-auto mr-auto" id="row_items">  
                  <div class="row fields">
                    <div class="col-md-4">
                      Documento
                    </div>
                    <div class="col-md-5">
                      Descripción
                    </div>
                    <div class="col-md-3">
                      Acciones
                    </div>
                  </div>          
                  <%= f.fields_for :quotation_contracts, @quotation.quotation_contracts.sort_by(&:id) , :wrapper => false do |contract_form| %>
                    <div class="row fields upload-container">
                      <div class="col-md-4 ">
                        <%= contract_form.input :document_id, as: :hidden , input_html: {:class => "document_id"} %>
                        <%= contract_form.input :quotation_id, as: :hidden , input_html: {:value => @quotation.id} %>
                        <input class="document_upload" style="font-size: 12px;" type="file" name="document" data-url="/documents/create" >
                        
                        <div class="progress" style="margin-top:10px">
                          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <%= contract_form.input :description, label: false %>
                      </div>
                      <div class="col-md-3 ml-auto mr-auto">
                        <%= link_to "<i class='material-icons'>cloud_download</i>".html_safe, contract_form.object.document.present? ? contract_form.object.document.document.url : "", :target => "_blank", :class => "pdf_url_new btn btn-success", :style => contract_form.object.document.present? ? "display:block; float: left;" : "display:none; float: left;" %> 

                        <%= contract_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe, :class => "btn btn-danger", :style => "float: left;" %>
                      </div>
                    </div>          
                  <% end %>
                </div>
                <div class="col-md-6 ml-auto mr-auto">

                  <%= f.link_to_add "<i class='material-icons'>add_circle</i> Añadir".html_safe, :quotation_contracts, :data => { :target => "#row_items" }, :class => "btn btn-info", :style => "text-align: right" %>
                
                
                  <%= button_tag(:class => "btn btn-success", name: "finish", value: "finish") do %>
                    Guardar <i class='material-icons'>save</i>
                  <% end %>

                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="alert alert-info" id="saved_documents" role="alert" style="padding: 10px;margin: 5px; display: none;">
                    Documentos guardados correctamente.
                  </div>
                </div>
              <% end %>
            </div>

            <!-- Annexes sections -->
            <div class="col-md-12 ml-auto mr-auto">
              <p class="h3">Anexos</p>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
              <%= simple_nested_form_for(@quotation, url: annexe_quotation_path(@quotation), method: "GET", remote: true, html: { class: 'row' }) do |f| %>
                <div class="col-md-12 ml-auto mr-auto" id="annexe_items">  
                  <div class="row fields">
                    <div class="col-md-4">
                      Anexo
                    </div>

                    <div class="col-md-5">
                      Descripción
                    </div>
                    <div class="col-md-3">
                      Acciones
                    </div>
                  </div>          
                  <%= f.fields_for :quotation_annexes, @quotation.quotation_annexes.sort_by(&:id) , :wrapper => false do |annexe_form| %>
                    <div class="row fields upload-container">
                      <div class="col-md-4 ">
                        <%= annexe_form.input :document_id, as: :hidden , input_html: {:class => "document_id"} %>
                        <%= annexe_form.input :quotation_id, as: :hidden , input_html: {:value => @quotation.id} %>
                        <input class="document_upload" style="font-size: 12px;" type="file" name="document" data-url="/documents/create" >
                        
                        <div class="progress" style="margin-top:10px">
                          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <%= annexe_form.input :description, label: false %>
                      </div>
                      <div class="col-md-3 ml-auto mr-auto">
                        <%= link_to "<i class='material-icons'>cloud_download</i>".html_safe, annexe_form.object.document.present? ? annexe_form.object.document.document.url : "", :target => "_blank", :class => "pdf_url_new btn btn-success", :style => annexe_form.object.document.present? ? "display:block; float: left;" : "display:none; float: left;" %> 

                        <%= annexe_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe, :class => "btn btn-danger", :style => "float: left;" %>
                      </div>
                    </div>          
                  <% end %>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <%= f.link_to_add "<i class='material-icons'>add_circle</i> Añadir".html_safe, :quotation_annexes, :data => { :target => "#annexe_items" }, :class => "btn btn-info", :style => "text-align: right" %>
                
                  <%= button_tag(:class => "btn btn-success", name: "finish", value: "finish") do %>
                    Guardar <i class='material-icons'>save</i>
                  <% end %>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="alert alert-info" id="saved_annexes" role="alert" style="padding: 10px;margin: 5px; display: none;">
                    Anexos guardados correctamente.
                  </div>
                </div>
              <% end %>
            </div>

          
          <% elsif current_user.has_role?(:admin) || current_user.has_role?(:approver) %> 
            <% if @quotation.quotation_contracts.any? %>
              <!-- Contract sections -->
              <div class="col-md-12 ml-auto mr-auto">
                <p class="h3">Contratos</p>
              </div>

              <% @quotation.quotation_contracts.each do |quotation_contract| %>
                <div class="col-md-2 ml-auto mr-auto">
                  <%= link_to "<i class='material-icons'>cloud_download</i>".html_safe, quotation_contract.document.present? ? quotation_contract.document.document.url : "", :target => "_blank", :class => "pdf_url_new btn btn-success", :style => quotation_contract.document.present? ? "display:block; float: left;" : "display:none; float: left;" %> 
                </div>

                <div class="col-md-10 ml-auto mr-auto">
                  <p style="padding: 12px 0px; margin: 0px">
                    <%= quotation_contract.description %>  
                  </p>
                  
                </div>
                
              <% end %>              
            <% end %>

            <% if @quotation.quotation_annexes.any? %>
              <!-- Annexes sections -->
              <div class="col-md-12 ml-auto mr-auto">
                <p class="h3">Anexos</p>
              </div>

              <% @quotation.quotation_annexes.each do |quotation_annexe| %>
                <div class="col-md-2 ml-auto mr-auto">
                  <%= link_to "<i class='material-icons'>cloud_download</i>".html_safe, quotation_annexe.document.present? ? quotation_annexe.document.document.url : "", :target => "_blank", :class => "pdf_url_new btn btn-success", :style => quotation_annexe.document.present? ? "display:block; float: left;" : "display:none; float: left;" %> 
                </div>

                <div class="col-md-10 ml-auto mr-auto">
                  <p style="padding: 12px 0px; margin: 0px">
                    <%= quotation_annexe.description %>  
                  </p>
                  
                </div>
                
              <% end %>              
            <% end %>


           


          <% end %> 

          <!-- Notification section -->

          <% if (current_user.id == @quotation.created_by_id && @quotation.status == 2 ) %>
            <div class="col-md-12 ml-auto mr-auto">
              <p class="h3">Notificacion</p>
              <div class="text-right-1">
                <%= simple_form_for :notification, url: notification_quotation_path(@quotation), remote: true, method: "GET", html: { class: 'search-content' } do |f| %>
                  <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                      <%= f.input :email, :label => "Email", input_html: {:value => @quotation.email} %>
                      Ingrese correo(s) para enviar correo electrónico separados por (,)
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                      <%= f.input :body, as: :text, :label => "Cuerpo del correo", input_html: {:value => "", :rows => 5} %>
                    </div>
                    <div class="col-md-4 ml-auto mr-auto">
                      <%= f.submit "Enviar", :class => "btn btn-success", :style => 'width: 100%;'  %>
                    </div>
                    <div class="col-md-8 ml-auto mr-auto">
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <!-- Appover section -->
          <% if @quotation.status <= 1 && (current_user.has_role?(:admin) || current_user.has_role?(:approver) ) %>
            <div class="col-md-12 ml-auto mr-auto">
              <p class="h3">Aprobar/Rechazar</p>
              <div class="">

                <%= simple_form_for(@quotation, url: status_quotation_path(@quotation),method: "GET", remote: true) do |f| %>
                  <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                      <%= f.input :note %>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                      <%= f.submit "Aprobar", :class => "btn btn-success", :style => 'width: 100%;' , data: { confirm: 'Esta seguro de aprobar?' } %>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                      <%= f.submit "Rechazar", :class => "btn btn-danger", :style => 'width: 100%;' , data: { confirm: 'Esta seguro de rechazar?' } %>
                    </div>
                    <div class="col-md-8 ml-auto mr-auto">
                    </div>
                  </div>
                <% end %>               
              </div>
            </div>
          <% end %>
          <!-- Actions -->
          <div class="col-md-12 ml-auto mr-auto">
            <p class="h3">Acciones</p>
            <div class="text-right">
              <% if @modal.present? %>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
              <% end %>
              <% if current_user.id == @quotation.created_by_id || current_user.has_role?(:admin) || current_user.has_role?(:approver) %>
                <%= link_to "<i class='material-icons'>print</i> Imprimir".html_safe, preview_quotation_path(@quotation), :class => "btn btn-success ml-3", :target => "_blank" %>  
                <%= link_to "<i class='material-icons'>picture_as_pdf</i> PDF".html_safe, preview_quotation_path(@quotation, :format => "pdf"), :class => "btn btn-success ml-3", :target => "_blank" %>  
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  load_upload();
</script>




