<%= simple_form_for(@company, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h6 class="text-muted">Información de la empressa</h6>
        <hr/>
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :ruc %>
        <% if @company_registered_by_ci.present? %>
          <div class="invalid-feedback">
            Usuario: <%= @company_registered_by_ci.user.name %>
          </div>
          <div class="invalid-feedback">
            Email: <%= @company_registered_by_ci.user.email %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :name %>
        <% if @company_registered_by_name.present? %>
          <div class="invalid-feedback">
            Usuario: <%= @company_registered_by_name.user.name %>
          </div>
          <div class="invalid-feedback">
            Email: <%= @company_registered_by_name.user.email %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :sector, collection: @sectors, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
        
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <% if true %>
          <%= f.input :user_id, collection: @all_users, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
        <% else %>
          <div class="form-group email optional company_contact_email">
            <label class="string required" for="company_user">Asignado <abbr title="required">*</abbr></label>
            <p class="h4"><%= current_user.name %>  </p>
          </div>

          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <% end %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <h6 class="text-muted">Información de contacto</h6>
        <hr/>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :contact_name %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :contact_email %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :contact_phone %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :doctor_name %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :doctor_email %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :doctor_phone %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :billing_name %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :billing_email %>
      </div>

      <div class="col-md-4 ml-auto mr-auto">
        <%= f.input :billing_phone %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :direction %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :description %>
      </div>
      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :active %>
      </div>
    </div>
  </div>

  <div class="modal-footer">

    <div class="actions">
      <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
      <%= f.submit "Guardar", class: "btn btn-info" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $( document ).ready(function() {
    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    });
  });
</script>
