<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">search</i>
          <span style="width: 20px;height: 33px;line-height: 33px;font-size: 20px;">Buscar Empresa</span>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for :search, url: search_companies_path, method: "GET", html: { class: 'search-content' } do |f| %>
          <%= f.input :q, label: "Nombre/RUC" %>
          <%= f.submit "Buscar", :class => "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <h4 class="card-header card-header-info">Empresas</h4>
      <div class="card-body">
        <table class="table responsive">
          <thead>
            <tr>
              <th>RUC/CI</th>
              <th>Nombre</th>
              <th>Asignado</th>
              <th>Sector</th>
              <th>N. Contacto</th>
              <th>E. Contacto</th>
              <th>Activo</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% if @companies.any? %>
              <% @companies.each do |company| %>
                <tr>
                  <td>
                    <span>RUC/CI</span>
                    <%= link_to company.ruc, company %>
                  </td>
                  <td>
                    <span>Nombre</span>
                    <%= company.name %>
                  </td>
                  <td>
                    <span>Asignado</span>
                    <%= company.user.present? ? company.user.name : "Sin Asignar" %>
                  </td>
                  <td>
                    <span>Sector</span>
                    <%= select_array(@sectors, company.sector) %>
                  </td>
                  <td>
                    <span>N. Contacto</span>
                    <%= company.contact_name %>
                  </td>
                  <td>
                    <span>E. Contacto</span>
                    <%= company.contact_email %>
                  </td>
                  <td class="hide-small">
                    <span>Activo</span>
                    <%= company.active.present? ? "Si" : "No" %>
                  </td>
                  <td class="actions">
                    <span>Acciones</span>
                    <%= link_to '<i class="material-icons">history</i>'.html_safe , search_quotations_path(:"search[company_id]" => company.id), rel: "tooltip", title: "Historial", class: "btn btn-info" %>
                      <%= link_to_edit(edit_company_path(company)) %>
                    <% if (current_user.has_role?(:seller) && company.user_id == current_user.id) || current_user.has_role?(:approver) || current_user.has_role?(:admin) %>
                      <%= link_to_delete(company) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="8">
                  No se encontro registros
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @companies %>
        <%= link_to 'Nuevo', new_company_path, :class => "btn btn-success", data: { modal: true }  %>
      </div>
    </div>
  </div>
</div>

