<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @company.ruc %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @company.direction %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @company.sector %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @company.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @company.contact_email %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @company.doctor_name %>
</p>

<p>
  <strong>Doctor email:</strong>
  <%= @company.doctor_email %>
</p>

<p>
  <strong>Billing name:</strong>
  <%= @company.billing_name %>
</p>

<p>
  <strong>Billing email:</strong>
  <%= @company.billing_email %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
