a {
  color: #00bcd4;

  &:hover {
    color: #666;
  }
}

.hide{
  display: none;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#row_items, #row_items-total{
  .select2{
    .select2-selection__rendered{
      font-size: 12px;
      line-height: 24px;
    }
  }
  .item_values{
    .col_val, .col{
      padding: 0px 2px;
    }
  }
  .form-control {
    padding: 4px 4px;
    font-size: 14px;
  }
}

label {
  color: #333 !important;
}

.form-control{
  width: 100%;
  max-width: 100%;
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}

.form-group.hidden{
  display: none;
}
.invalid-feedback{
  color: #f44336;
  font-size: 14px;
}

.has-danger{
  .form-control{
    border-color: #f44336;  
  }
}

.row.show{
  display: flex;
}

.row.hide{
  display: none;
}

.save-buttons-q{
  .material-icons{
    font-size: 30px;
  }
}

.modal-open {
  overflow: hidden;
}
/* line 11, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 18, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

/* line 36, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
/* line 44, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.table{
  .type-table{
    font-weight: bold;
    text-transform: uppercase;
    background: #ccc;
  }  
}


@media screen and (prefers-reduced-motion: reduce) {
  /* line 44, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal.fade .modal-dialog {
    transition: none;
  }
}
/* line 48, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal.show .modal-dialog {
  transform: none;
}

/* line 53, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
/* line 59, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

/* line 67, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  outline: 0;
}

/* line 84, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
/* line 94, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-backdrop.fade {
  opacity: 0;
}
/* line 95, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-backdrop.show {
  opacity: 0.5;
}

/* line 100, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
/* line 108, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

/* line 116, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

/* line 123, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

/* line 132, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
/* line 141, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}
/* line 142, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

/* line 146, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  /* line 157, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  /* line 162, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  /* line 165, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }

  /* line 170, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }

  /* line 174, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  /* line 178, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  /* line 185, /Users/marcelotoapanta/AlgorithmicCode/nexus-45001/node_modules/bootstrap/scss/_modal.scss */
  .modal-xl {
    max-width: 1140px;
  }
}

.required{
  abbr{
    color: #f44336;
  }
}


table.responsive {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table.responsive tr {
    background: white;
    border-bottom: 1px solid
}
table.responsive th, table.responsive td {
    padding: 10px 20px;
}

table.responsive td span {
    background: #eee;
    color: dimgrey;
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
}
span.label{
  display: none;
}
.quotation_quotation_items_total, .quotation_quotation_columns_total{
  input{
    background: #ccc;
    cursor: none;
  }
}

@media (max-width: 768px) {
  .hide-small{
    display:none;
  }
  .main-panel > .content{
    padding: 0px;
  }
  .form-actions.save-buttons-q{
    display: flex;
  }
  .stats{
    font-size: 18px !important;
  }
  .pagination{
    display: flex;
    flex-wrap: wrap;
    .page{
      margin-bottom: 10px;
    }
    span{
      border: 0 !important;
      padding: 0px !important;
      a{
        padding: 15px !important;
        font-size: 25px !important;
      }
    }
    span.current{
      padding: 15px !important;
      font-size: 25px !important;
    }
    .page.gap{
      display: none;
    }
    .first, .prev, .next, .last{
      width: 100%;
      margin-bottom: 10px;
    }
  }  
  table.responsive thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }
    table.responsive tr {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    table.responsive td {
        border: 1px solid !important;
        margin: 0 -1px -1px 0;
        padding-top: 35px !important;
        position: relative;
        width: 50%;
        text-align: center;
    }

    table.responsive td.actions{
      width: calc(100% - 1px);
    }
    table.responsive td span, span.label {
        display: block;
    }
}





/*Color Variables*/ 
$bc: #5cb85c;
// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}  

.multi_step_form{
  background: #f6f9fb;
  display: block;
  overflow: hidden;
  #container-pg {
    text-align: center;
    position: relative;
    max-width: 810px;
    margin: 0 auto;
    background: #ffffff;
    z-index: 1; 
    #progressbar {
      overflow: hidden;  
      margin-bottom: 0px;
      padding: 0px;
      li {
        list-style-type: none;
        color: #99a2a8; 
        font-size: 18px;
        width: calc(100%/3);
        float: left;
        position: relative; 
        &:nth-child(2){
          &:before{
            content: "2";
          }
        }
        &:nth-child(3){
          &:before{
            content: "3";
          }
        }
        &:before {
          content: "1";
          font-size: 22px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          display: block; 
          background: #eaf0f4;
          border-radius: 50%;
          margin: 0 auto 10px auto;
        } 
        &:after {
          content: '';
          width: 100%;
          height: 10px;
          background: #eaf0f4;
          position: absolute;
          left: -50%;
          top: 21px;
          z-index: -1; 
        } 
        &:last-child{
          &:after{
            width: 150%;
          }
        }
        &.active{
          color: $bc;
          &:before, &:after{
            background: $bc;
            color: white;
          }
        }
      }
    } 
  } 
}

.pagination {
  float: right;
  margin: 0px 0px;
  span{
    float: left;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    a {
      font-size: 14px;
      color: #337ab7;
      text-decoration: none;
      background-color: #f3f3f3;
      display: block;
      padding: 0.1875rem 0.625rem;
      border-radius: 0;
      &:hover{
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
      }
    }
  }
  
  .current{
    font-size: 14px;
    color: #fff;
    padding: 3px 10px;
    background-color: #00bcd4;
  }
}
 
// Bar quotation status
.timeline {
    white-space:nowrap;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    color:#fff;
    padding:10px;
    font-size:14px;
    text-align:center;
    position:relative;
    border-top:4px solid #333;
    border-radius:3px;
    width: 25%;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:12px;
    height:12px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size: 1rem;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}

.form-check .form-check-input {
  opacity: 1 !important;
  height: 20px !important;
  width: 20px !important;
  z-index: 1;
}

.form-group input[type=file]{
  opacity: 1 !important;
  height: 40px !important;
  z-index: 1; 
}