<%= simple_nested_form_for(@exam, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :code %>
      </div>

      <div class="col-md-6 ml-auto mr-auto">
        <%= f.input :name %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <!-- <%= f.input :description %> -->
        <%= f.input :exam_type_id, collection: @exam_types, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <label class="text required" for="quotation_description">Descripción <abbr title="required">*</abbr></label>
      </div>

      <div class="col-md-12 ml-auto mr-auto" id="row_items">
        <%= f.fields_for :exam_descriptions, @exam.exam_descriptions.sort_by(&:id) , :wrapper => false do |description_form| %>
          <div class="row fields">
            
            <div class="col-md-10">
              <%= description_form.input :name, label: false %>
            </div>

            <!-- <div class="col-md-2">
              <%= description_form.input :active, label: false %>
            </div> -->

            <div class="col-md-2">
              <%= description_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe, :class => "btn btn-danger" %>
            </div>
          </div>          
        <% end %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <%= f.link_to_add "<i class='material-icons'>add_circle</i> Añadir".html_safe, :exam_descriptions, :data => { :target => "#row_items" }, :class => "btn btn-info", :style => "text-align: right" %>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <%= f.input :active %>
      </div>

    </div>
  </div>


  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
      <%= f.submit "Guardar", class: "btn btn-info" %>
    </div>
  </div>
  
<% end %>
<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

</script>