<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">search</i>
          <span style="width: 20px;height: 33px;line-height: 33px;font-size: 20px;">Buscar Exámen</span>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for :search, url: search_exams_path, method: "GET", html: { class: 'search-content' } do |f| %>
          <%= f.input :q, label: "Nombre/Código", input_html: {value: params[:search].present? ? params[:search][:q] : "" } %>
          <%= f.submit "Buscar", :class => "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <h4 class="card-header card-header-info">Exámenes</h4>
      <div class="card-body">
        
        <table class="table responsive">
          <thead>
            <tr>
              <th class="text-center">Código</th>
              <th>Nombre</th>
              <th class="text-center">Activo</th>
              <th>Tipo Examen</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @exams.each do |exam| %>
              <tr>
                <td class="text-center">
                  <span>Código</span>
                  <%= exam.code %>    
                </td>
                <td>
                  <span>Nombre</span>
                  <%= exam.name %>
                </td>
                <td class="text-center ">
                  <span>Activo</span>
                  <%= exam.active.present? ? "Si" : "No" %>
                </td>
                <td>
                  <span>Tipo Examen</span>
                  <%= select_array(@exam_types, exam.exam_type_id) %>
                </td>
                <td class="actions">
                  <span>Acciones</span>
                  <%= link_to_show(exam) %>
                  <%= link_to_edit(edit_exam_path(exam)) %>
                  <%= link_to_delete(exam) %>
                  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @exams %>
        <%= link_to "Nuevo".html_safe, new_exam_path, :class => "btn btn-success", data: { modal: true }  %>
      </div>
    </div>
  </div>
</div>