<!DOCTYPE html>
<html>
  <head>
    <title>Administración de Cotizaciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= favicon_link_tag asset_path('logo-icon.png') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="azure" data-background-color="white" data-image="/images/sidebar-bg.png">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                <img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="width: 75%">
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item <%= 'active' if params[:controller] == 'page' %>">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Panel de control</p>
                    </a>
                </li>

                <% if current_user.has_role?(:admin) || current_user.has_role?(:approver) %>

                    <li class="nav-item <%= 'active' if params[:controller] == 'exams' %>">
                        <a class="nav-link" href="/exams">
                            <i class="material-icons">healing</i>
                            <p>Exámenes</p>
                        </a>
                    </li>
                <% end %>

                <li class="nav-item <%= 'active' if params[:controller] == 'companies' %>">
                    <a class="nav-link" href="/companies">
                        <i class="material-icons">business</i>
                        <p>Empresas</p>
                    </a>
                </li>

                <li class="nav-item <%= 'active' if params[:controller] == 'users' %>">
                    <a class="nav-link" href="/users">
                        <i class="material-icons">person</i>
                        <p>Usuarios</p>
                    </a>
                </li>

                <li class="nav-item <%= 'active' if params[:controller] == 'quotations' %>">
                  <% if current_user.has_role? :seller %>
                    <a class="nav-link" href="/quotations/search?search[user_id]=<%= current_user.id %>">
                        <i class="material-icons">list_alt</i>
                        <p>Cotizaciones</p>
                    </a>
                  <% else %>
                    <a class="nav-link" href="/quotations/search">
                        <i class="material-icons">list_alt</i>
                        <p>Cotizaciones</p>
                    </a>
                  <% end %>
                    
                </li>

                <li class="nav-item active-pro">
                    <%= link_to '<i class="material-icons">person</i><p>Mi cuenta</p>'.html_safe , edit_user_path(current_user.id), data: { modal: true }, class: "dropdown-item" %>    
                </li>
                
                
                
                
                <!-- <li class="nav-item active-pro">
                    <a class="nav-link" href="../examples/upgrade.html">
                        <i class="material-icons">unarchive</i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li> -->
            </ul>
        </div>
      </div>


      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/">Panel de control</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <!-- <form class="navbar-form" action="/quotations/search">
                        <div class="input-group no-border">
                            <input type="text" value="" name="quotation[q]" class="f-control" placeholder="Buscar cotización...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form> -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="material-icons">dashboard</i>
                                <p>
                                    <span class="d-lg-none d-md-block">Stats</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <% if (current_user.has_role?(:admin) || current_user.has_role?(:approver)) %>
                                    <span class="notification"><%= @quotations_pending_count %></span>
                                <% else %>
                                    <span class="notification"><%= @quotations_approved_count + @quotations_rejected_count %></span>
                                <% end %>
                                <p>
                                    <span class="d-lg-none d-md-block">Some Actions</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <% if (current_user.has_role?(:admin) || current_user.has_role?(:approver)) %>
                                    <a class="dropdown-item" href="/quotations/search?search[status]=1"><%= @quotations_pending_count %> cotizaciones pendientes de aprobación</a>
                                <% else %>
                                    <a class="dropdown-item" href="/quotations/search?search[status]=2&search[user_id]=<%= current_user.id %>"><%= @quotations_approved_count %> cotizaciones aprobadas</a>
                                    <a class="dropdown-item" href="/quotations/search?search[status]=4&search[user_id]=<%= current_user.id %>"><%= @quotations_rejected_count %> cotizaciones rechazadas</a>
                                <% end %>
                                <!-- <a class="dropdown-item" href="#">Mike John responded to your email</a> -->
                                <!-- <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                <a class="dropdown-item" href="#">Another Notification</a>
                                <a class="dropdown-item" href="#">Another One</a> -->
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <%= current_user.name %>
                                <p>
                                    <span class="d-lg-none d-md-block">Links</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <%= link_to "Mi cuenta", edit_user_path(current_user.id), data: { modal: true }, class: "dropdown-item" %>

                                <a class="dropdown-item" href="#">Mis cotizaicones pendientes</a>
                                <%= link_to "Cerrar sesión", destroy_user_session_path , :method => 'delete', class: "dropdown-item" %>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        

        <div class="content">
          <div class="container-fluid">
            <% if notice.present? %>
                <p id="notice" class="alert alert-success" style="color: #fff; padding: 5px 10px;"><%= notice %></p>
            <% end %>
            
            <%= yield %>
          </div>
        </div>
              
        <footer class="footer ">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Documentación
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Soporte
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licencia
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    Ecua-american 2019
                    <!-- <script>
                        document.write(new Date().getFullYear())
                    </script>, made with love by -->
                    <!-- <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
                </div>
            </div>
        </footer>
    </div>
</div>

<div id='modal-holder'></div>



  <script type="text/javascript">
      $(document).ready(function() {

          //init wizard

          // demo.initMaterialWizard();

          // Javascript method's body can be found in assets/js/demos.js
          demo.initDashboardPageCharts();

          demo.initCharts();

      });
  </script>


  </body>
</html>
