<!DOCTYPE html>
<html>
  <head>
    <title>Administración de Cotizaciones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= favicon_link_tag asset_path('logo-icon.png') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">

      <div class="main-panel-login">
       

        <div class="content">
          <div class="container-fluid">
            <% if notice.present? %>
                <p id="notice" class="alert alert-success" style="color: #fff; padding: 5px 10px;"><%= notice %></p>
            <% end %>
            
            <%= yield %>
          </div>
        </div>
              
        <footer class="footer ">
            <div class="container-fluid">
                <!-- <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav> -->
                <div class="copyright pull-right">
                    &copy;
                    Ecua-american 2019
                    <!-- <script>
                        document.write(new Date().getFullYear())
                    </script>, made with love by -->
                    <!-- <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
                </div>
            </div>
        </footer>
    </div>
</div>

  </body>
</html>
